body {
  background-color: gray;
  background-image: url("../images/image1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 45px;
  }

h1 {
	font-weight: bold;
}

 p {
 	color: white;
 }

 .navbar-inverse {
    	background-color: rgba(0, 0, 0, 0.7);
 }

 .navbar-brand {
   color: white;
   font-size: 30px;
 }


.btn {
	font-weight: bold;
	font-size:20px;
	font:40px;
	padding-top: 2px;
}

.paddedrow {
 padding: 30px;
}


.container2 {
  	background-color: rgba(0, 0, 0, 0.4);
  	background-position: absolute;
  	font-size: 23px;
  	font-weight: bold;
  	width: 100%;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px;
  text-align: center;
}



.container3 {
  	background-color: rgba(0, 0, 0, 0.4);
  	background-position: absolute;
  	font-size: 23px;
  	font-weight: bold;
  	text-color: white;
  	width: 100%;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px;
  text-align: center;
}

.container4 {
  	background-color: rgba(0, 0, 0, 0.4);
  	background-position: absolute;
  	font-size: 20px;
  	font-weight: bold;
  	text-color: white;
  	width: 100%;
	height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 15px;
}


.container5 {
  	background-color: rgba(0, 0, 0, 0.4);
  	background-position: absolute;
  	font-size: 30px;
  	font-weight: bold;
  	text-color: white;
  	width: 100%;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5px;
}

#submit-button{
  /* padding: 60px; */
}
