<!doctype html>
<html>
  <head>
    <title>Ask an artist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/css/main.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">List It - Artist Search</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">Popular Searches</a></li>
              <li><a href="#">Up coming gigs - London</a></li>
              <!-- <li><a href="#">Page 3</a></li> -->
            </ul>
          </div>
        </nav>

        
        <div class="container2">
          <p>Spotify doesn't know artist named {{ artist }} <br>
             Please, search again</p><br>
          <div id="contact-form">
            <form method="post" action="/search_artist">
              <input type="text" id="artist" name="artist" required="required" placeholder="Enter Artist"><br>
              <input class="btn btn-secondary btn-lg" type="submit" value="Find" id="submit-button">
            </form>

          </div>
        </div>

  </body>
</html>
