<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",
    filename="css/main.css") }}">
    <title>Search City for Events</title>
  </head>
    <body>


      <div class="textformat">
        <div class="container6">

        <p>Listen to samples and pick your event!</p>
          {% for item in main_list %}
            <audio controls>
            <source src="{{ item["track_url"]}}" type="audio/mpeg">
            </audio>

            <form action="{{ item["link"]}}">
            {{ item["event"]}}
            <input type="submit" value="Buy Tickets" id="submit-button">
            </form>
          {% endfor %}
          </div>
        </div>
    </body>
  </html>
