<!doctype html>
<html>
  <head>
    <title>Log in with Spotify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/css/main.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="row paddedrow">
      <div class="col-md-12">
        <div class="container1">
          <h1> Welcome!</h1><br>
        </div>
      </div>
    </div>

    <div class="row paddedrow">
      <div class="col-md-6">
        <div class="container2">
          <p>Make a playlist of Artist's Top Tracks<br>
            Please, Log in with Spotify </p><br>
            <div id="contact-form">
              <form method="get" action="/login">
                <input class="btn btn-secondary btn-lg" type="submit" value="Log in" id="submit-button">
              </form>
            </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container3">
          <p>Search city for upcoming gigs!</p>
            <div id="contact-form">
              <form method="post" action="/events_list">
                <input type="city" id="city" name="city" required="required" placeholder="Enter City"><br>
                <input type="submit" class="btn btn-secondary btn-lg" value="Submit" id="submit-button">
              </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
