<!doctype html>
<html>
  <head>
    <title>List It - Artist Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/css/main.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">List It - Artist Search</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">Popular Searches</a></li>
          <li><a href="#">Up coming gigs - London</a></li>
          <!-- <li><a href="#">Page 3</a></li> -->
        </ul>
      </div>
    </nav>

<!--
    <div class="row paddedrow">
      <div class="col-md-12">
        <div class="container1">
          <h1> Welcome!</h1><br>
        </div>
      </div>
    </div> -->

    <div class="row paddedrow">
      <div class="col-md-6">
        <div class="container2">
          <p>Search artist to listen to?</p>
            <div id="contact-form">
                <form method="post" action="/search_artist">
                  <input class="type-text" type="text" id="artist" name="artist" required="required" placeholder="Enter Artist">
                  <input class="btn btn-secondary btn-lg submit-button" type="submit" value="Find" id="submit-button">
                </form>
            </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container3">
          <p>Search city for upcoming gigs!</p>
            <div id="contact-form">
              <form method="post" action="/events_list">
                <input type="city" class="type-text" id="city" name="city" required="required" placeholder="Enter City">
                <input type="submit" class="btn btn-secondary btn-lg submit-button" value="Submit" id="submit-button">
              </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
