<!doctype html>
<html>
  <head>
    <title>Log in with Spotify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/css/main.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <p>Welcome!</p><br>
    <p>Please, Log in with Spotify </p><br>
      <div id="contact-form">
        <form method="get" action="/login">
          <input type="submit" value="Log in" id="submit-button">
        </form>

      </div>

  </body>
</html>
